.img{
    width: 300%;
    height: auto;
    margin-right: 25%;
}
.btn{
    background-color: blue!important;
    color: white;
    border: none;
    cursor: pointer;
}
.wrap{
    display: flex;
    flex-direction: row!important;
}
.right{
    margin-left: 15%;
}